@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.App{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7px;

}
.progress{
    height: 20px;
    width: 500px;
    background-color: rgb(233, 233, 244);
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.progress span{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.progress div {
    height: 100%;
    
    background-color: aquamarine;
}